.menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: auto;
    padding: 10px;
}

 .menu .ul-menu .li-menu {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

img {
    max-width: 100%;
}
